:root{
  --dark: #1a1a1a;
  --light: #b8b8b8;
}

body{ 
  /* background-color: var(--dark);
  color: var(--light);
  text-align: center;
  justify-content: center; */
}

.container{
  border:#1a1a1a
}
